<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AM2"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="GradleStart"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-username=courrier.edwin@gmail.com -password=edwin"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AM2"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DFORGE_FORCE_FRAME_RECALC=true -Dfml.coreMods.load=am2.asm.Preloader"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="E:\Edwin\Documents\Minecraft\AM2\run"/>
</launchConfiguration>
